In [23]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import sem
import requests
import json
from pprint import pprint

In [40]:
cities_df = pd.read_csv("worldcities.csv")
sample_df = cities_df.sample(10)
worldcities = sample_df.round(2)
worldcities.reset_index(inplace = True)
del worldcities['index']
worldcities.head()

  Country      City  Latitude  Longitude
0      in    beawar     26.10      74.32
1      mx  cahuacan     19.64     -99.42
2      in    batala     31.82      75.20
3      cf      ippy      6.25      21.20
4      dk   broager     54.89       9.68

In [41]:
cities = worldcities['City']
humidity = []
cityid = []
maxt = []
cloud = []
wind = []
date = []
country = []
lat = []
lon = []

In [42]:
for city in cities:
    url = "http://api.openweathermap.org/data/2.5/weather?"
    query_url = f"{url}&units=imperial&appid=86e99f8f52b689a868c3db258b66be67&q="
    print(f"Retrieving Results for {city}")
    
    try:
        response = requests.get(query_url + city)
        response2 = response.json()
        lat.append(response2['coord']['lat']),
        lon.append(response2['coord']['lon']),
        humidity.append(response2['main']['humidity']),
        cityid.append(response2['id']),
        maxt.append(response2['main']['temp_max']),
        cloud.append(response2['clouds']['all']),
        wind.append(response2['wind']['speed']),
        date.append(response2['dt']),
        country.append(response2['sys']['country'])
    
    except:
        print("Skipping. City not found.")

Retrieving Results for beawar
Retrieving Results for cahuacan
Retrieving Results for batala
Retrieving Results for ippy
Retrieving Results for broager
Retrieving Results for tsogni
Retrieving Results for manavalakurichi
Retrieving Results for cumana
Retrieving Results for shantipur
Retrieving Results for lahan

In [44]:
weather_dict = {
    "City": cities,
    "Latitude": lat,
    "Longitude": lon,
    "Max temperature(F)": maxt,
    "Humidity(%)": humidity,
    "Cloudiness": cloud,
    "Wind Speed": wind,
    "Country": country,
    "Date": date,
}
weather_data = pd.DataFrame(weather_dict)
weather_data.head()

,City,Latitude,Longitude,Max temperature(F),Humidity(%),Cloudiness,Wind Speed,Country,Date
0,beawar,26.10,74.32,76.84,53,0,8.63,IN,1601503096
1,cahuacan,19.64,-99.42,73.40,33,75,3.36,MX,1601503096
2,batala,31.82,75.20,73.40,94,0,2.24,IN,1601503096
3,ippy,6.27,21.22,67.68,98,89,1.50,CF,1601503097
4,broager,54.89,9.68,57.20,93,9,5.82,DK,1601503097